weights
videos
**/__pycache__
output*
.vscode
*.mp4
output_masks
videos
.idea
out
data
data_local
/playground/extracted_frames/
configs/sam*/*.yaml
scripts/merge_*
complete_sequences.txt
AUDIT.md
tmp/
tmp[0-9]*/
tmp_*/