**.mp4
wandb
*.html
**/__pycache__
**/*.npz
out
tmp
._.DS_Store
.DS_Store
meshes
seqs
predicted
!**/utils/*.npz
tmp*.png
real_results
vis_out*
errors.png
*.ply
tests/*.png
*.blend*
.vscode
.idea
tmp*
verts_pkl
objs
ply_files
singularity
solid_angle_extension
_docstring_to_review.txt
.claude